@font-face {
    font-family: heading-font;
    src: url(../fonts/Comfortaa/Comfortaa-VariableFont_wght.ttf);
}

@font-face {
    font-family: content-font;
    src: url(../fonts/Merriweather/Merriweather-Regular.ttf);
}

.container {
    display: grid;
    height: 100vh;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 5fr;
}

/* Sidebar and Sidebar elements styling */
.sidebar {
    grid-row: 1 / -1;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 1rem;
}

.header {
    grid-column: 2 / -1;
}
